*{
    margin: 0px;
    padding: 0px;
}

/*Irei inserir as mediasqueryes aqui mesmo */

@media only screen and (max-width: 600px) {
    main{
        display: flex;
        flex-direction: column;
        padding: 20px;
        text-align: left;
    }

    .banner img{
        max-width: 90%;
        margin-top: 20px;
    }

}

body{
    margin: 0;
    background-color:#000022 ;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p#text{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 10px;
}
h1{
    text-align: left;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
    color: white;
}

#nav{
    display: flex;
    justify-content: space-between;
}
#menu{
    padding: 10px; /* Reduzir o espaçamento do menu */
    font-size: 16px; /* Tamanho da fonte menor para o menu */
    text-align: right; /* alinhamento do cabeçalho */
    flex: 1; /* Ocupar o espaço disponível restante */
    margin-top: 35px; /* Espaço superior para separar da imagem */
    font-family: 'Bricolage Grotesque', sans-serif;    
}
#menu a{
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    text-align: center;
}

img{
    max-width: 100%;
    margin-bottom: 20px;
}
img#banner{
    width: 100%;
    left: -50;
    right: -50;

}
div#banner{
    display: block;
    width: 150%;
    padding-top: 110px;
}


.conteudo{
    margin-top: 25px;
    width: auto;
    height: auto;
    padding: 25px;
}

.produtos{
display: flex;
flex-wrap: wrap;
max-width: 800px;
margin: 0 auto;
}

.produtos > div{
flex: 1 1 200px;
margin: 10px;
}

.produtos > div:hover{
border: 1px solid #fff;
box-sizing: border-box;
border-radius: 15px;
}

.produtos  p{
color: white;
text-align: center;
padding: 25px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 8px;
    color: white;
}

footer a{
    color: white;
}

#instagram{
    width: 35px;
    margin-left: 4px;
    display: block;
}